/* Sidebar styling */
.sidebar {
    min-width: 300px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
    transition: transform 0.3s ease, max-height 0.3s ease;
    left: 0;
    top: 0;
    z-index: 1000;
}

/* Home button styling (positioned inside the sidebar) */
.icon-container {
    display: flex;
    justify-content: flex-end; /* Align home button to the right */
    align-items: center;
    margin-bottom: 10px; /* Adjust to move it up */
    margin-top: -10px; /* Move the home button up by 10px */
}

.icon-container a {
    color: #000000; /* Set home button color to black */
    background-color: #f8f9fa; /* Same background as sidebar */
    text-decoration: none; /* Remove underline */
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for home button */
.icon-container a:hover {
    background-color: #6c757d; /* Darker grey on hover */
    color: white; /* White text on hover */
}

/* Sidebar hidden state for larger screens */
.sidebar.hidden {
    transform: translateX(-100%); /* Hide the sidebar by moving it to the left on large screens */
}

/* Sidebar styling for small screens */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        max-height: 100vh;
        overflow: hidden;
        transform: none;
        transition: max-height 0.3s ease;
    }

    .sidebar.hidden {
        max-height: 0;
        overflow: hidden;
    }

    .main-content {
        margin-left: 0 !important;
        transition: margin 0.3s ease;
    }

    .main-content.expanded {
        margin-top: 0;
    }
}

/* Sidebar navigation link styling */
.sidebar .nav-link {
    color: #000000;
    margin-bottom: 10px;
    white-space: nowrap;
    padding: 10px 15px;
}

/* Custom active class styling for sidebar */
.sidebar-nav .nav-link.active {
    background-color: #6c757d !important;
    color: white;
    border-color: #6c757d;
}

/* Hover effect for sidebar navigation links */
.sidebar .nav-link:hover {
    background-color: #5a6268;
    color: #ffffff;
}

/* Main content styling */
.main-content {
    margin-left: 300px;
    padding: 20px;
    transition: margin 0.3s ease;
}

.main-content.expanded {
    margin-left: 0;
}

/* Toggle icon styling */
#toggle-sidebar-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    cursor: pointer;
    margin-top: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for the toggle button */
#toggle-sidebar-icon:hover {
    background-color: #6c757d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

/* Additional spacing for sidebar items */
.sidebar-nav {
    margin-top: 40px;
}

/* Button styling */
.btn {
    width: 100%;
}
